{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{% static 'icons-1.5.0/bootstrap-icons.css' %}">
  <title>Your Name Here</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'post:dashboard' %}">Blogging Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item m-1">
            <a class="nav-link" href="{% url 'user:view-profile' %}">
              <span class="nav-icons"><i class="bi bi-person-square"></i></span>
              View profile
            </a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link" href="{% url 'user:logout' %}">
              <span class="nav-icons"><i class="bi bi-box-arrow-in-left"></i></span>
              Logout
            </a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item m-1">
            <a class="nav-link" href="{% url 'user:signup' %}">
              <span class="nav-icons"><i class="bi bi-plus-square"></i></span>
              Sign Up
            </a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link" href="{% url 'user:login' %}">
              <span class="nav-icons"><i class="bi bi-box-arrow-in-right"></i></span>
              Login
            </a>
          </li>
        </ul>
        {% endif %}
        <form action="{% url 'set_language' %}" method="post" class="d-flex justify-content-center align-items-center" >{% csrf_token %}
          <div class="me-3">
            <input name="next" type="hidden" value="{{ redirect_to }}">
          <select name="language" class="form-select form-select-sm" onchange="this.form.submit()">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.name_local }} ({{ language.code }})
                  </option>
              {% endfor %}
          </select>
          </div>
      </form>
      </div>
    </div>
  </nav>
  <div>
  </div>

  <!--------------Message Box Starts Here ------------------>
  <div class="message-box text-center">
    {% if messages %}
    <ul class="messages fw-bold fs-5 text-center mt-2">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
  <!--------------Message Box Ends Here ------------------>
  <div class="content">
  {% block content %}

  {% endblock %}
</div>
  <script src="{% static '/bootstrap/bootstrap.bundle.min.js' %}">
  </script>
</body>

</html>