{% extends 'base.html' %}
{% load tz %}
{% block content %}
    <div class="container">
        <div class="contact-me-container mt-3 mt-lg-5 mb-3 mb-lg-5 ms-1 me-1 p-3 p-lg-5">
            <div class="mb-3 p-3 p-lg-5">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center" style="font-size: 250px;">
                        <i class="bi bi-person"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title text-center">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                            <p class="card-text fs-5 lh-lg">
                                <b>Username</b> : {{ request.user.username }} <br>
                                <b>First Name</b> : {{ request.user.first_name }} <br>
                                <b>Last Name</b> : {{ request.user.last_name }} <br>
                                <b>Email Address</b> : {{ request.user.email }} <br>
                                {% timezone "Asia/Kathmandu" %}
                                <b>Date Joined</b> : {{ request.user.date_joined }} <br>
                                <b>Last Login</b> : {{ request.user.last_login }} <br>
                                {% endtimezone %}
                                <a href="{% url 'userAuth:update-profile' %}" class="btn btn-primary">Update Profile</a> 
                                <a href="{% url 'userAuth:change-password' %}" class="btn btn-danger">Change Password</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}