{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="contact-me-container mt-3 mt-lg-5 mb-3 mb-lg-5 ms-1 me-1 p-3 p-lg-5">
            <div class="mb-3 p-3 p-lg-5">
                <div class="row g-0">
                  <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="{% static '/images/profileimage.png' %}" class="profile-image" alt="Profile Image">
                  </div>
                  <div class="col-md-8 p-3">
                    <div class="card-body">
                      <h1 class="card-title text-center">Your Name Here</h1>
                      <p class="card-text fs-5 lh-lg">
                          <b>Email</b> : abcde@gmail.com <br>
                          <b>Phone Number</b> : 1234567890 <br>
                          <b>Temporary Address</b> : Lorem Ipsum City, Earth <br>
                          <b>Permanenet Address</b> : Dolor Amnet City, Earth <br>
                          <b>Country</b> : MNOPQ <br>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
{% endblock %}