{% extends 'base.html' %}
{% block content %}
    <div class="dashboard fs-5 row ms-0 me-2 mt-1 m-md-2 m-lg-3">
        <div class="sidebar col-12 col-lg-2 m-2 p-3">
            <h5 class="m-3">Browse By Category</h5>
            <ul class="list-group m-2">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        Cras justo odio
                    </div>
                    <span class="badge bg-danger rounded-pill">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        Cras justo odio
                    </div>
                    <span class="badge bg-danger rounded-pill">6</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        Cras justo odio
                    </div>
                    <span class="badge bg-dark rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        Cras justo odio
                    </div>
                    <span class="badge bg-danger rounded-pill">7</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">9</span>
                </li>
            </ul>
            <p class="text-center">
                <a href="#" class="btn btn-dark mt-1 mb-1">Load More</a> <br>
                <a href="{% url 'category:create-category' %}" class="btn btn-success mt-1 mb-1">Create Category</a>
                <a href="{% url 'category:manage-category' %}" class="btn btn-warning mt-1 mb-1">Manage Category</a>
            </p>
        </div>
        <div class="main-body col-12 col-lg-9 m-2 p-3">
            <div class="blog-actions col-12 row align-items-center m-1 pt-3 pb-3">
                <div class="col-12 col-md-6">
                    <input type="text" id="search-post" class="form-control pt-2 pb-2 ps-3 pe-3"
                        placeholder="Enter Blog Title">
                </div>
                <div
                    class="col-12 col-md-6 d-flex flex-row flex-wrap justify-content-center align-items-center justify-content-md-start align-items-md-start">
                    <input type="submit" class="btn btn-dark mt-2 mb-2 ms-1 me-1" value="Search">
                    <a href="{% url 'post:create-post' %}" class="btn btn-success mt-2 mb-2 ms-1 me-1">Create Post</a>
                    <a href="{% url 'post:manage-post' %}" class="btn btn-warning mt-2 mb-2 ms-1 me-1">Manage Post</a>
                </div>
            </div>
            <div class="blog-container col-12 m-1 pt-3 pb-3">
                <div class="blog-type-title fs-4 p-1 p-md-2">
                    <h5 class="text-center">Here is the Latest Blogs</h5>
                </div>
                <div class="blog-collections">
                    {% for post in posts %}
                    <div class="card text-dark bg-light mb-3">
                        <div class="card-body">
                            <div class="header row">
                                <div class="card-title fw-bold fs-5 col-12 col-md-auto">{{ post.title }}
                                    neque fugit ab.</div>
                                <small class="text-muted col-12 col-md-auto mt-0 mt-md-1"> Last updated {{ post.published_on|timesince:post.last_updated }} ago</small>
                            </div>
                            <div class="card-text post-body">
                                {{ post.body }}
                            </div>
                            <div class="card-text d-flex justify-content-between">
                                <div class="post-votes mt-1">
                                    <a href="#" class="vote-link"><span class="icon pt-1 upvote"><i class="bi bi-hand-thumbs-up"></i>{{ post.likes }}</span></a>
                                    <a href="#" class="vote-link"><span class="icon pt-1 downvote"><i class="bi bi-hand-thumbs-down"></i>{{ post.dislikes }}</span></a>
                                </div>
                                <span class="text-muted mt-1"><a href="{% url 'post:view-post' post.id %}">Click Here To Read</a></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                        <div class="pagination-container">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                              </ul>
                        </div>
                      
                        
                </div>
            </div>
        </div>
    </div>

    {% endblock %}