<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./styles.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="./bootstrap-icons/font/bootstrap-icons.css">
  <title>Your Name Here</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand ms-sm-2 ms-md-3 ms-lg-4" href="#">Your Name Here</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="#">
                <span class="nav-icons"><i class="bi bi-person-square"></i></span> <span
                  class="nav-link-value"> Portfolio</span>
              </a>
              <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="./blog.html">
                <span class="nav-icons"><i class="bi bi-card-text"></i></span> <span
                  class="nav-link-value"> Blogs</span>
              </a>
              <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="./contact-me.html">
                <span class="nav-icons"><i class="bi bi-telephone-fill"></i></span> <span
                  class="nav-link-value"> Contact Me</span>
              </a>
              <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="./login.html">
                <span class="nav-icons"><i class="bi bi-box-arrow-in-right"></i></span> <span
                    class="nav-link-value"> Sign Up / Login </span>
            </a>
            </div>
          </div>
        </div>
      </nav>
    <div class="container form-container mt-5 mb-5">
        <div class="post-creation-form m-3 p-3">
            <h3 class="mt-2 mb-4">Enter the following details to create a new post</h3>
            <form class="fs-5 mt-3 mb-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter Post Title">
                    <label for="floatingInput">Post Title</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Enter the Post Body" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Post Body</label>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Post Image (Optional) </label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="form-category mb-3">
                    Choose Category
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="option1">
                        <label class="form-check-label" for="option1">
                            Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="option2">
                        <label class="form-check-label" for="option2">
                            Option 2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="option3">
                        <label class="form-check-label" for="option3">
                            Option 3
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Create Post</button>
            </form>
        </div>
    </div>
    <footer class="row m-0 p-0">
        <div
          class="social-media-container col-8 col-md-6 d-flex flex-column align-items-center justify-content-center pt-4 pt-md-4 pt-md-5">
          <h2>Connect Me On</h2> <br>
          <p class="social-media-info ">
            <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="#">
              <span class="social-media-icons"><i class="bi bi-facebook"></i></span> <span
                class="nav-link-value"> Facebook</span>
            </a>
            <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="#">
              <span class="social-media-icons"><i class="bi bi-instagram"></i></span> <span
                class="nav-link-value"> Instagram</span>
            </a>
            <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="#">
              <span class="social-media-icons"><i class="bi bi-linkedin"></i></span> <span
                class="nav-link-value"> Linkedin</span>
            </a>
          </p>
        </div>
        <div
          class="page-links-container col-8 col-md-6 d-flex flex-column align-items-center justify-content-center pt-2 pt-md-4 pt-md-5">
          <h2>Page Links</h2> <br>
          <p class="page-links-info">
            <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="#">
              <span class="nav-icons"><i class="bi bi-person-square"></i></span> <span
                class="nav-link-value"> Portfolio</span>
            </a>
            <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="./blog.html">
              <span class="nav-icons"><i class="bi bi-card-text"></i></span> <span
                class="nav-link-value"> Blogs</span>
            </a>
            <a class="nav-link me-3 d-flex align-items-start justify-content-start" href="./contact-me.html">
              <span class="nav-icons"><i class="bi bi-telephone-fill"></i></span> <span
                class="nav-link-value"> Contact Me</span>
            </a>
          </p>
        </div>
        <div class="copyright-section mt-2 col-12 d-flex align-items-center justify-content-center">
          <p>© 2021 All Rights Reserved</p>
        </div>
    
      </footer>
     <script src="./bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
        </script>
    </body>
    
    </html>