{% extends 'base.html' %}
{% block content %}

<div class="container mt-3">
  <div class="section-title text-center">
    Choose Any Post To Update or Delete
  </div>
  <div class="post-collections">
    {% if posts %}
    {% for post in page_obj %}
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <div class="header row">
          <div class="card-title fw-bold fs-5 col-12 col-md-auto">{{ post.title }}</div>
          <small class="text-muted col-12 col-md-auto mt-0 mt-md-1">
            Last updated on {{ post.last_updated }}
          </small>
        </div>
        <div class="card-text post-body">
          {{ post.body }}
        </div>
        <div class="card-text d-flex justify-content-end ">
          <div class="manage-post mt-1">
            <button type="button" class="btn btn-outline-secondary">
              <a href="{% url 'post:update-post' post.id %}">Update</a>
            </button>
            <button type="button" class="btn btn-danger">
              <a href="#" data-bs-toggle="modal" data-bs-target="#delete">Delete</a>
            </button>
          </div>
          <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmation For Deletion</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post" action="{% url 'post:delete-post' post.id %}">
                    {% csrf_token %}
                    <p>Are you sure you want to delete this post ?<br> <b>{{ post.title }}</b></p>

                    <div class="d-flex align-items-end justify-content-end">
                      <a href="#" class="btn btn-dark m-1" data-bs-dismiss="modal">Cancel</a>
                      <input type="submit" value="Confirm" class="btn btn-danger m-1">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="section-title">
      There is no any posts to show right now.
    </div>
    {% endif %}

  </div>
  <div class="pagination-container mt-3">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
          aria-disabled="true">Previous</a>
      </li>
      {% endif %}
      <div class="m-2">
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
      </div>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      <li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
      {% endif %}
    </ul>
  </div>
</div>
</div>
{% endblock %}