{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="post-container mt-2 mb-3 p-3">
        <div class="title">
            <p class="fs-3 fw-bold">{{ post.title }}</p>
        </div>
        <div class="publication-date m-1">
            {{ post.published_on }}
        </div>
        <div class="updation-date text-muted m-1">
            Last updated {{ post.published_on|timesince:post.last_updated }} ago
        </div>
        <div class="post-image mt-4">
            <img src="./images/blog.jpg" width="100%" height="100%" class="post-image" loading="lazy">
        </div>
        <div class="post-body mt-2 fs-5 lh-lg">
            {{ post.body }}
        </div>
        <div class="post-votes m-1">
            <a href="#" class="vote-link fs-5 m-1"><span class="icon pt-1 upvote"><i class="bi bi-hand-thumbs-up"></i>
                    {{ post.likes }}
                </span></a>
            <a href="#" class="vote-link fs-5 m-1"><span class="icon pt-1 downvote"><i class="bi bi-hand-thumbs-down"></i>
                    {{ post.dislikes }}
                </span></a>
        </div>
        <div class="comments-container mt-5 p-2" id="post-comments-container">
            <h4>Comments</h4>
            {% for comment in user_comments %}
            <div class="comment-item row mt-3 mb-3">
                <div class="user-profile-image col-2 col-md-1 d-flex align-items-center justify-content-center">
                  <i class="bi bi-person"></i>
                </div>
                <div class="username col-10 d-flex align-items-center justify-content-start">
                  <b>{{ comment.commented_by }}</b>
                </div>
                <div class="comment offset-2 col-10 offset-md-1 col-md-11">
                  {{ comment.body }}
                </div>
      
                <div class="user-comments-vote offset-2 col-10 offset-md-1 col-md-11">
                  <a href="#" class="vote-link m-1"><span class="icon upvote"><i class="bi bi-hand-thumbs-up"></i>0</span></a>
                  <a href="#" class="vote-link m-1"><span class="icon downvote"><i class="bi bi-hand-thumbs-down"></i>0</span></a>
                  <span class="badge bg-danger" data-bs-toggle="modal" data-bs-target="#delete"><i class="bi bi-trash-fill"></i></span>
                </div>
                <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation For Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>Are you sure you want to delete this Comment</h3>
                                <p>{{ comment.body }}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-dark" data-bs-dismiss="modal">Cancel</a>
                                <a href="{% url 'comments:delete-comment' comment.id post.id %}"
                                    class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            {% endfor %}
        </div>
       <div class="load-button text-center">
        <button type="button" class="btn btn-dark" id="load-comments">Load More</button>
       </div>

       <form class="fs-5 mt-3 mb-3" id="new-comment">
        <div class="form-floating mb-3">
          {{ form.post }}
          {{ form.post.label_tag }}
          {{ form.post.errors }}
        </div>
        <div class="form-floating mb-3">
          {{ form.body }}
          {{ form.body.label_tag }}
          {{ form.body.errors }}
        </div>
        <div class="form-floating mb-3">
            {{ form.commented_by }}
            {{ form.commented_by.label_tag }}
            {{ form.commented_by.errors }}
          </div>
          <div class="d-flex align-items-end justify-content-end">
            <button type="button" id="form-submit-btn" class="btn btn-dark">Add Comment</button>
          </div>
      </form>
      <script>
          var postID = {{ post.id }}
      </script>
       <script src="{% static 'js/comment-script.js' %}"></script>
    </div>
</div>
{% endblock %}