{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="post-container mt-2 mb-3 p-3">
        <div class="title">
            <p class="fs-3 fw-bold">{{ post.title }}</p>
        </div>
        <div class="publication-date m-1">
            {{ post.published_on }}
        </div>
        <div class="updation-date text-muted m-1">
            Last updated {{ post.published_on|timesince:post.last_updated }} ago
        </div>
        <div class="post-image mt-4">
            <img src="./images/blog.jpg" width="100%" height="100%" class="post-image" loading="lazy">
        </div>
        <div class="post-body mt-2 fs-5 lh-lg">
            {{ post.body }}
        </div>
        <div class="post-votes m-1">
            <a href="#" class="vote-link fs-5"><span class="icon pt-1 upvote"><i class="bi bi-hand-thumbs-up"></i>
                    {{ post.likes }}
                </span></a>
            <a href="#" class="vote-link fs-5"><span class="icon pt-1 downvote"><i class="bi bi-hand-thumbs-down"></i>
                    {{ post.dislikes }}
                </span></a>
        </div>
        <div class="comments-container mt-5 p-2" id="post-comments-container">
            <h4>Comments</h4>
        </div>
       <div class="load-button text-center">
        <button type="button" class="btn btn-dark" id="load-comments">Load More</button>
       </div>

       <form class="fs-5 mt-3 mb-3" id="new-comment">
        {% csrf_token %}
        <div class="form-floating mb-3">
          {{ form.post }}
          {{ form.post.label_tag }}
          {{ form.post.errors }}
        </div>
        <div class="form-floating mb-3">
          {{ form.body }}
          {{ form.body.label_tag }}
          {{ form.body.errors }}
        </div>
        <div class="form-floating mb-3">
            {{ form.commented_by }}
            {{ form.commented_by.label_tag }}
            {{ form.commented_by.errors }}
          </div>
        
        <button type="button" id="form-submit-btn">Add Comment</button>
      </form>
      <script>
          var postID = {{ post.id }}
      </script>
       <script src="{% static 'js/comment-script.js' %}"></script>
    </div>
</div>
{% endblock %}