{% extends 'base.html' %}
{% block content %}
    <div class="container form-container mt-5 mb-5">
        <div class="post-creation-form m-3 p-3">
            <h3 class="mt-2 mb-4">Update the following details for this post.</h3>
            <form class="fs-5 mt-3 mb-3" method="POST" action="">
              {% csrf_token %}
              <div class="form-floating mb-3">
                {{ form.title }}
                {{ form.title.label_tag }}
                {{ form.title.errors }}
              </div>
              <div class="form-floating mb-3">
                {{ form.body }}
                {{ form.body.label_tag }}
                {{ form.body.errors }}
              </div>
              <div class="form-category mb-3">
                Choose Category
                <ul>
                  {% for check in form.category %}
                      <li class='form-check-label'>{{check.tag}}
                      <label for="{{check.id_for_label}}">{{check.choice_label}}</label></li>
                  {% endfor %}
                  </ul>
              </div>
              <div class="form-floating mb-3">
                {{ form.author }}
                {{ form.author.label_tag }}
                {{ form.author.errors }}
              </div>
              <div class="mb-3">
                {{ form.image.label_tag }}
                {{ form.image }}
                {{ form.image.errors }}
              </div>
              <button type="submit" class="btn btn-success">Update Post</button>
            </form>
        </div>
    </div>
{% endblock %}